@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: 'Toms Handwritten';
  size-adjust: 130%;
  src: url('assets/TomsHandwritten.eot');
  src: local('Toms Handwritten'), local('TomsHandwritten'), url('assets/TomsHandwritten.eot?#iefix') format('embedded-opentype'), url('assets/TomsHandwritten.woff') format('woff'), url('assets/TomsHandwritten.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Toms Handwritten';
}

a {
  color: #0366d6;
}

.container {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.indent {
  margin-top: 16px;
}

.mat-input-error-message {
  margin-top: -20px;
  margin-bottom: 10px;
}
